In [69]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv("D:\HDHI Admission data.csv")

In [71]:
df['HB'].replace('EMPTY', np.nan, inplace=True)
df['TLC'].replace('EMPTY', np.nan, inplace=True)
df['PLATELETS'].replace('EMPTY', np.nan, inplace=True)
df['UREA'].replace('EMPTY', np.nan, inplace=True)
df['CREATININE'].replace('EMPTY', np.nan, inplace=True)
df['GLUCOSE'].replace('EMPTY', np.nan, inplace=True)

In [72]:
df.apply(pd.isnull).sum()

SNO                                   0
MRD No.                               0
D.O.A                                 0
D.O.D                                 0
AGE                                   0
GENDER                                0
RURAL                                 0
TYPE OF ADMISSION-EMERGENCY/OPD       0
month year                            0
DURATION OF STAY                      0
duration of intensive unit stay       0
OUTCOME                               0
SMOKING                               0
ALCOHOL                               0
DM                                    0
HTN                                   0
CAD                                   0
PRIOR CMP                             0
CKD                                   0
HB                                  256
TLC                                 290
PLATELETS                           294
GLUCOSE                             945
UREA                                244
CREATININE                          251
BNP                                8440
RAISED CARDIAC ENZYMES                0
EF                                 1504
SEVERE ANAEMIA                        0
ANAEMIA                               0
STABLE ANGINA                         0
ACS                                   0
STEMI                                 0
ATYPICAL CHEST PAIN                   0
HEART FAILURE                         0
HFREF                                 0
HFNEF                                 0
VALVULAR                              0
CHB                                   0
SSS                                   0
AKI                                   0
CVA INFRACT                           0
CVA BLEED                             0
AF                                    0
VT                                    0
PSVT                                  0
CONGENITAL                            0
UTI                                   0
NEURO CARDIOGENIC SYNCOPE             0
ORTHOSTATIC                           0
INFECTIVE ENDOCARDITIS                0
DVT                                   0
CARDIOGENIC SHOCK                     0
SHOCK                                 0
PULMONARY EMBOLISM                    0
CHEST INFECTION                       0
dtype: int64

In [73]:
null_pct = df.apply(pd.isnull).sum()/df.shape[0]
null_pct

SNO                                0.000000
MRD No.                            0.000000
D.O.A                              0.000000
D.O.D                              0.000000
AGE                                0.000000
GENDER                             0.000000
RURAL                              0.000000
TYPE OF ADMISSION-EMERGENCY/OPD    0.000000
month year                         0.000000
DURATION OF STAY                   0.000000
duration of intensive unit stay    0.000000
OUTCOME                            0.000000
SMOKING                            0.000000
ALCOHOL                            0.000000
DM                                 0.000000
HTN                                0.000000
CAD                                0.000000
PRIOR CMP                          0.000000
CKD                                0.000000
HB                                 0.016248
TLC                                0.018406
PLATELETS                          0.018660
GLUCOSE                            0.059977
UREA                               0.015486
CREATININE                         0.015930
BNP                                0.535669
RAISED CARDIAC ENZYMES             0.000000
EF                                 0.095456
SEVERE ANAEMIA                     0.000000
ANAEMIA                            0.000000
STABLE ANGINA                      0.000000
ACS                                0.000000
STEMI                              0.000000
ATYPICAL CHEST PAIN                0.000000
HEART FAILURE                      0.000000
HFREF                              0.000000
HFNEF                              0.000000
VALVULAR                           0.000000
CHB                                0.000000
SSS                                0.000000
AKI                                0.000000
CVA INFRACT                        0.000000
CVA BLEED                          0.000000
AF                                 0.000000
VT                                 0.000000
PSVT                               0.000000
CONGENITAL                         0.000000
UTI                                0.000000
NEURO CARDIOGENIC SYNCOPE          0.000000
ORTHOSTATIC                        0.000000
INFECTIVE ENDOCARDITIS             0.000000
DVT                                0.000000
CARDIOGENIC SHOCK                  0.000000
SHOCK                              0.000000
PULMONARY EMBOLISM                 0.000000
CHEST INFECTION                    0.000000
dtype: float64

In [74]:
valid_columns = df.columns[null_pct < .06]

In [75]:
valid_columns

Index(['SNO', 'MRD No.', 'D.O.A', 'D.O.D', 'AGE', 'GENDER', 'RURAL',
       'TYPE OF ADMISSION-EMERGENCY/OPD', 'month year', 'DURATION OF STAY',
       'duration of intensive unit stay', 'OUTCOME', 'SMOKING ', 'ALCOHOL',
       'DM', 'HTN', 'CAD', 'PRIOR CMP', 'CKD', 'HB', 'TLC', 'PLATELETS',
       'GLUCOSE', 'UREA', 'CREATININE', 'RAISED CARDIAC ENZYMES',
       'SEVERE ANAEMIA', 'ANAEMIA', 'STABLE ANGINA', 'ACS', 'STEMI',
       'ATYPICAL CHEST PAIN', 'HEART FAILURE', 'HFREF', 'HFNEF', 'VALVULAR',
       'CHB', 'SSS', 'AKI', 'CVA INFRACT', 'CVA BLEED', 'AF', 'VT', 'PSVT',
       'CONGENITAL', 'UTI', 'NEURO CARDIOGENIC SYNCOPE', 'ORTHOSTATIC',
       'INFECTIVE ENDOCARDITIS', 'DVT', 'CARDIOGENIC SHOCK', 'SHOCK',
       'PULMONARY EMBOLISM', 'CHEST INFECTION'],
      dtype='object')

In [76]:
df =  df[valid_columns].copy()

In [77]:
df =  df.ffill()
df.apply(pd.isnull).sum()

SNO                                0
MRD No.                            0
D.O.A                              0
D.O.D                              0
AGE                                0
GENDER                             0
RURAL                              0
TYPE OF ADMISSION-EMERGENCY/OPD    0
month year                         0
DURATION OF STAY                   0
duration of intensive unit stay    0
OUTCOME                            0
SMOKING                            0
ALCOHOL                            0
DM                                 0
HTN                                0
CAD                                0
PRIOR CMP                          0
CKD                                0
HB                                 0
TLC                                0
PLATELETS                          0
GLUCOSE                            0
UREA                               0
CREATININE                         0
RAISED CARDIAC ENZYMES             0
SEVERE ANAEMIA                     0
ANAEMIA                            0
STABLE ANGINA                      0
ACS                                0
STEMI                              0
ATYPICAL CHEST PAIN                0
HEART FAILURE                      0
HFREF                              0
HFNEF                              0
VALVULAR                           0
CHB                                0
SSS                                0
AKI                                0
CVA INFRACT                        0
CVA BLEED                          0
AF                                 0
VT                                 0
PSVT                               0
CONGENITAL                         0
UTI                                0
NEURO CARDIOGENIC SYNCOPE          0
ORTHOSTATIC                        0
INFECTIVE ENDOCARDITIS             0
DVT                                0
CARDIOGENIC SHOCK                  0
SHOCK                              0
PULMONARY EMBOLISM                 0
CHEST INFECTION                    0
dtype: int64

In [78]:
df.dtypes

SNO                                 int64
MRD No.                            object
D.O.A                              object
D.O.D                              object
AGE                                 int64
GENDER                             object
RURAL                              object
TYPE OF ADMISSION-EMERGENCY/OPD    object
month year                         object
DURATION OF STAY                    int64
duration of intensive unit stay     int64
OUTCOME                            object
SMOKING                             int64
ALCOHOL                             int64
DM                                  int64
HTN                                 int64
CAD                                 int64
PRIOR CMP                           int64
CKD                                 int64
HB                                 object
TLC                                object
PLATELETS                          object
GLUCOSE                            object
UREA                               object
CREATININE                         object
RAISED CARDIAC ENZYMES              int64
SEVERE ANAEMIA                      int64
ANAEMIA                             int64
STABLE ANGINA                       int64
ACS                                 int64
STEMI                               int64
ATYPICAL CHEST PAIN                 int64
HEART FAILURE                       int64
HFREF                               int64
HFNEF                               int64
VALVULAR                            int64
CHB                                 int64
SSS                                 int64
AKI                                 int64
CVA INFRACT                         int64
CVA BLEED                           int64
AF                                  int64
VT                                  int64
PSVT                                int64
CONGENITAL                          int64
UTI                                 int64
NEURO CARDIOGENIC SYNCOPE           int64
ORTHOSTATIC                         int64
INFECTIVE ENDOCARDITIS              int64
DVT                                 int64
CARDIOGENIC SHOCK                   int64
SHOCK                               int64
PULMONARY EMBOLISM                  int64
CHEST INFECTION                     int64
dtype: object

In [79]:
df.dtypes

SNO                                 int64
MRD No.                            object
D.O.A                              object
D.O.D                              object
AGE                                 int64
GENDER                             object
RURAL                              object
TYPE OF ADMISSION-EMERGENCY/OPD    object
month year                         object
DURATION OF STAY                    int64
duration of intensive unit stay     int64
OUTCOME                            object
SMOKING                             int64
ALCOHOL                             int64
DM                                  int64
HTN                                 int64
CAD                                 int64
PRIOR CMP                           int64
CKD                                 int64
HB                                 object
TLC                                object
PLATELETS                          object
GLUCOSE                            object
UREA                               object
CREATININE                         object
RAISED CARDIAC ENZYMES              int64
SEVERE ANAEMIA                      int64
ANAEMIA                             int64
STABLE ANGINA                       int64
ACS                                 int64
STEMI                               int64
ATYPICAL CHEST PAIN                 int64
HEART FAILURE                       int64
HFREF                               int64
HFNEF                               int64
VALVULAR                            int64
CHB                                 int64
SSS                                 int64
AKI                                 int64
CVA INFRACT                         int64
CVA BLEED                           int64
AF                                  int64
VT                                  int64
PSVT                                int64
CONGENITAL                          int64
UTI                                 int64
NEURO CARDIOGENIC SYNCOPE           int64
ORTHOSTATIC                         int64
INFECTIVE ENDOCARDITIS              int64
DVT                                 int64
CARDIOGENIC SHOCK                   int64
SHOCK                               int64
PULMONARY EMBOLISM                  int64
CHEST INFECTION                     int64
dtype: object

In [80]:
indep = df.drop(['SNO', 'MRD No.', 'D.O.A', 'D.O.D', 'RURAL', 'TYPE OF ADMISSION-EMERGENCY/OPD', 'month year', 'DURATION OF STAY', 'duration of intensive unit stay', 'OUTCOME', 'SEVERE ANAEMIA', 'ANAEMIA', 'STABLE ANGINA', 'ACS', 'STEMI', 'ATYPICAL CHEST PAIN', 'HEART FAILURE', 'HFREF', 'HFNEF', 'VALVULAR', 'CHB', 'SSS', 'AKI', 'CVA INFRACT', 'CVA BLEED', 'AF', 'VT', 'PSVT', 'CONGENITAL', 'UTI', 'NEURO CARDIOGENIC SYNCOPE', 'ORTHOSTATIC', 'INFECTIVE ENDOCARDITIS', 'DVT', 'CARDIOGENIC SHOCK', 'SHOCK', 'PULMONARY EMBOLISM', 'CHEST INFECTION'],axis='columns')

In [81]:
indep

,AGE,GENDER,SMOKING,ALCOHOL,DM,HTN,CAD,PRIOR CMP,CKD,HB,TLC,PLATELETS,GLUCOSE,UREA,CREATININE,RAISED CARDIAC ENZYMES
0,81,M,0,0,1,0,0,0,0,9.5,16.1,337,80,34,0.9,1
1,65,M,0,1,0,1,1,0,0,13.7,9,149,112,18,0.9,0
2,53,M,0,0,1,0,1,0,0,10.6,14.7,329,187,93,2.3,0
3,67,F,0,0,0,1,1,0,0,12.8,9.9,286,130,27,0.6,0
4,60,F,0,0,0,1,0,1,0,13.6,9.1,26,144,55,1.25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15751,86,F,0,0,1,1,1,0,0,8.8,13.7,361,131,57,1.4,1
15752,50,M,0,0,1,1,0,1,0,13.2,15.6,142,248,94,1.8,0
15753,82,M,0,0,0,1,1,0,0,9.3,11.7,372,210,67,1.9,0
15754,59,F,0,0,0,1,1,0,0,13.1,12.5,431,153,29,0.8,0
15755,59,F,0,0,0,1,1,0,0,13.1,12.5,431,153,29,0.8,0

In [82]:
dept = df[['SEVERE ANAEMIA', 'ANAEMIA', 'STABLE ANGINA', 'ACS', 'STEMI', 'ATYPICAL CHEST PAIN', 'HEART FAILURE', 'HFREF', 'HFNEF', 'VALVULAR', 'CHB', 'SSS', 'AKI', 'CVA INFRACT', 'CVA BLEED', 'AF', 'VT', 'PSVT', 'CONGENITAL', 'UTI', 'NEURO CARDIOGENIC SYNCOPE', 'ORTHOSTATIC', 'INFECTIVE ENDOCARDITIS', 'DVT', 'CARDIOGENIC SHOCK', 'SHOCK', 'PULMONARY EMBOLISM', 'CHEST INFECTION']]

In [83]:
dept

,SEVERE ANAEMIA,ANAEMIA,STABLE ANGINA,ACS,STEMI,ATYPICAL CHEST PAIN,HEART FAILURE,HFREF,HFNEF,VALVULAR,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,0,1,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15751,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15752,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15753,0,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15754,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15755,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
from sklearn.preprocessing import LabelEncoder
la_GENDER=LabelEncoder()

In [85]:
indep['GENDER_n']=la_GENDER.fit_transform(indep['GENDER'])

In [86]:
indep

,AGE,GENDER,SMOKING,ALCOHOL,DM,HTN,CAD,PRIOR CMP,CKD,HB,TLC,PLATELETS,GLUCOSE,UREA,CREATININE,RAISED CARDIAC ENZYMES,GENDER_n
0,81,M,0,0,1,0,0,0,0,9.5,16.1,337,80,34,0.9,1,1
1,65,M,0,1,0,1,1,0,0,13.7,9,149,112,18,0.9,0,1
2,53,M,0,0,1,0,1,0,0,10.6,14.7,329,187,93,2.3,0,1
3,67,F,0,0,0,1,1,0,0,12.8,9.9,286,130,27,0.6,0,0
4,60,F,0,0,0,1,0,1,0,13.6,9.1,26,144,55,1.25,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15751,86,F,0,0,1,1,1,0,0,8.8,13.7,361,131,57,1.4,1,0
15752,50,M,0,0,1,1,0,1,0,13.2,15.6,142,248,94,1.8,0,1
15753,82,M,0,0,0,1,1,0,0,9.3,11.7,372,210,67,1.9,0,1
15754,59,F,0,0,0,1,1,0,0,13.1,12.5,431,153,29,0.8,0,0
15755,59,F,0,0,0,1,1,0,0,13.1,12.5,431,153,29,0.8,0,0

In [99]:
Indep_n = indep.drop('GENDER',axis='columns')

In [100]:
Indep_n

,AGE,SMOKING,ALCOHOL,DM,HTN,CAD,PRIOR CMP,CKD,HB,TLC,PLATELETS,GLUCOSE,UREA,CREATININE,RAISED CARDIAC ENZYMES,GENDER_n
0,81,0,0,1,0,0,0,0,9.5,16.1,337,80,34,0.9,1,1
1,65,0,1,0,1,1,0,0,13.7,9,149,112,18,0.9,0,1
2,53,0,0,1,0,1,0,0,10.6,14.7,329,187,93,2.3,0,1
3,67,0,0,0,1,1,0,0,12.8,9.9,286,130,27,0.6,0,0
4,60,0,0,0,1,0,1,0,13.6,9.1,26,144,55,1.25,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15751,86,0,0,1,1,1,0,0,8.8,13.7,361,131,57,1.4,1,0
15752,50,0,0,1,1,0,1,0,13.2,15.6,142,248,94,1.8,0,1
15753,82,0,0,0,1,1,0,0,9.3,11.7,372,210,67,1.9,0,1
15754,59,0,0,0,1,1,0,0,13.1,12.5,431,153,29,0.8,0,0
15755,59,0,0,0,1,1,0,0,13.1,12.5,431,153,29,0.8,0,0

In [101]:
Indep_n['HB'] = pd.to_numeric(Indep_n['HB'], errors='coerce')
Indep_n['TLC'] = pd.to_numeric(Indep_n['TLC'], errors='coerce')
Indep_n['PLATELETS'] = pd.to_numeric(Indep_n['PLATELETS'], errors='coerce')
Indep_n['GLUCOSE'] = pd.to_numeric(Indep_n['GLUCOSE'], errors='coerce')
Indep_n['UREA'] = pd.to_numeric(Indep_n['UREA'], errors='coerce')
Indep_n['CREATININE'] = pd.to_numeric(Indep_n['CREATININE'], errors='coerce')

In [102]:
Indep_n.columns

Index(['AGE', 'SMOKING ', 'ALCOHOL', 'DM', 'HTN', 'CAD', 'PRIOR CMP', 'CKD',
       'HB', 'TLC', 'PLATELETS', 'GLUCOSE', 'UREA', 'CREATININE',
       'RAISED CARDIAC ENZYMES', 'GENDER_n'],
      dtype='object')

In [103]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputClassifier

# Assuming you have a DataFrame df containing your data
# Define your feature columns (independent variables) and target columns (dependent variables)
X = Indep_n[['AGE', 'SMOKING ', 'ALCOHOL', 'DM', 'HTN', 'CAD', 'PRIOR CMP', 'CKD', 'HB', 'TLC', 'PLATELETS', 'GLUCOSE', 'UREA', 'CREATININE', 'RAISED CARDIAC ENZYMES', 'GENDER_n']]
y = dept[['SEVERE ANAEMIA', 'ANAEMIA', 'STABLE ANGINA', 'ACS', 'STEMI', 'ATYPICAL CHEST PAIN', 'HEART FAILURE', 'HFREF', 'HFNEF', 'VALVULAR', 'CHB', 'SSS', 'AKI', 'CVA INFRACT', 'CVA BLEED', 'AF', 'VT', 'PSVT', 'CONGENITAL', 'UTI', 'NEURO CARDIOGENIC SYNCOPE', 'ORTHOSTATIC', 'INFECTIVE ENDOCARDITIS', 'DVT', 'CARDIOGENIC SHOCK', 'SHOCK', 'PULMONARY EMBOLISM', 'CHEST INFECTION']]  # Replace with your actual target columns

# Split your data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create an XGBoost classifier
classifier = xgb.XGBClassifier()

# Wrap the classifier in MultiOutputClassifier
model = MultiOutputClassifier(classifier)

# Fit the model to your training data
model.fit(X_train, y_train)

# Make predictions on your testing data
predictions = model.predict(X_test)

# Now you can evaluate the model's performance and analyze the predictions

In [104]:
import numpy as np

# Create a sample input array for prediction
input_data = np.array([[81,0,0,1,0,0,0,0,9.5,16.1,337,80,34,0.9,1,1]])  # Replace with your actual input values

# Make predictions
output = model.predict(input_data)

# 'predictions' will contain the predicted values for your target columns

In [105]:
output

array([[0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0]])

In [106]:
import xgboost as xgb
from sklearn.model_selection import GridSearchCV

# Create an XGBoost classifier
classifier = xgb.XGBClassifier(random_state=42)

# Define hyperparameters to search over
param_grid = {
    'max_depth': [3, 5, 7],               # Maximum tree depth
    'learning_rate': [0.01, 0.1, 0.3],   # Learning rate
    'n_estimators': [50, 100, 200],      # Number of boosting rounds
    'subsample': [0.7, 0.8, 0.9],        # Fraction of samples used for training each tree
    'colsample_bytree': [0.7, 0.8, 0.9], # Fraction of features used for training each tree
}

# Perform a grid search with cross-validation
grid_search = GridSearchCV(classifier, param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_

# Train an XGBoost classifier with the best hyperparameters
best_classifier = xgb.XGBClassifier(random_state=42, **best_params)
best_classifier.fit(X_train, y_train)

# Evaluate the model on the test data
accuracy = best_classifier.score(X_test, y_test)
print(f"Best Model Accuracy: {accuracy:.2f}")

Best Model Accuracy: 0.28

In [107]:
model.score(Indep_n,dept)

0.5632140137090632

In [110]:
pd = model.predict(np.array([[81,0,0,1,0,0,0,0,9.5,16.1,337,80,34,0.9,1,1]]))

In [111]:
pd

array([[0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0]])

In [113]:
ns = model.predict(np.array([[20,0,0,0,0,0,0,0,9.5,16.1,337,80,34,0.9,0,1]]))

In [114]:
ns

array([[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0]])